################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EncryptionApp/FileContentIndex/6c0e0d40-e0d6-44bb-a058-4b58ec3d8c82.vsidx
/.vs/EncryptionApp/FileContentIndex/685ef54d-c94b-4113-997f-90a342e54fda.vsidx
/.vs/EncryptionApp/FileContentIndex/7467b179-50cb-4da4-b8d4-0e58342ee402.vsidx
/.vs/EncryptionApp/FileContentIndex/11c68681-51c7-48ca-a7de-119396033ae1.vsidx
/.vs/EncryptionApp/FileContentIndex/cc169185-7cd1-459e-b886-a2abf4b36ee7.vsidx
/.vs/EncryptionApp/FileContentIndex/c2bfde6f-be6a-4207-a57e-25fbd9d9443d.vsidx
/.vs/EncryptionApp/FileContentIndex/19336426-9d2b-475e-a302-e50d36f3801a.vsidx
