################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EncryptionApp/FileContentIndex/6c0e0d40-e0d6-44bb-a058-4b58ec3d8c82.vsidx
/.vs/EncryptionApp/FileContentIndex/685ef54d-c94b-4113-997f-90a342e54fda.vsidx
